#index-title {
	font-size: 1.3rem;
	color: var(--gray);
    text-align: center;
    margin-bottom: 5px;
}
#center {
    text-align: center;
}
#tbl {
    display: inline-block;
    margin: 0 auto;
}
.row {
    display: inline-block;
}
.col {
    display: block;
    width: 100%;
    vertical-align: top;
    padding: 5px 5px -5px 5px;
}
.elem {
    padding: 30px 10px 10px 10px;
    margin: 10px 5px 10px 5px;
    display:block;
    background: #fff;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    overflow:hidden;
    min-height: 200px;
}
.elem h2 {
	color: var(--black);
	margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;
}
.elem p {
	color: var(--gray);
    margin-top: 2px;
    height: 40px;
    user-select: none;
}
.elem div {
	padding-top: 20px;
}
.elem a {
	font-size: 2em;
    color: var(--color-akcent);
    border: 2px solid var(--color-akcent);
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 15px 15px 15px 15px;
}
.elem a:hover {
	color: var(--a-hover-text);
    background: var(--a-hover-bg);
}

@media (min-width: 800px) {
	.row {
		display: table-row;
    }
    .col {
    	display: table-cell;
    	width: 33%;
    }
}